/* ================================ google fonts ====================================== */

@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");

/* =========================== css variables =================================== */

:root {
  --bg-white: #ffffff;
  --bg-grey: rgb(240, 240, 240);
  --footer-grey: #ebebeb;
  --dark-blue: #2979ff;
  --light-blue: #40c4ff;
  --text-grey: #7b7b7b;
  --text-grey-dark: #444444;
  --text-grey-dark-extra: #181818;
  --text-black: #000000;
  --text-white: #ffffff;
  --box-shadow: 3px 3px 7px -3px rgba(0, 0, 0, 0.5),
    -3px -3px 7px -3px rgba(0, 0, 0, 0.15);
}

/* ================================== global style ==================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 16px;
  line-height: 1.5;
  background-color: var(--bg-white);
  font-family: "Spline Sans", sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.container-lg {
  max-width: 1375px;
  margin: auto;
}

/* ============================== style header ===============================     */

.header {
  padding: 20px 15px;
  width: 100%;
  min-height: 80vh;
  display: inline-block;
  background: url(div-1.png);
}

.header .logo .circle {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--dark-blue);
}

.header .logo h2 {
  color: var(--dark-blue);
  padding-left: 10px;
}

.header .login-btn {
  background-color: var(--dark-blue);
  border: none;
  color: var(--text-white);
  padding: 13px 28px;
  border-radius: 5px;
  transition: all 0.3s ease-in;
}

.header .login-btn:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

.header .main-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 110px 100px 60px 100px;
}

.header .main-content h1 {
  font-size: 45px;
  font-weight: 400;
  color: var(--text-white);
  margin-bottom: 30px;
}

.header .main-content span {
  font-size: 16px;
  color: var(--text-grey);
  padding-top: 0;
  margin-top: 0;
  font-weight: 500;
  opacity: 0.9;
}

.header .main-content .sign-up-btn {
  background-color: var(--dark-blue);
  padding: 30px 150px;
  border: none;
  border-radius: 5px;
  color: var(--text-white);
  transition: all 0.3s ease-in;
}

.header .main-content .sign-up-btn:hover {
  cursor: pointer;
  background-color: var(--light-blue);
}

/* ============================ style section two ============================     */

.section-two {
  border: 3px solid transparent;
  min-height: 100vh;
}

.section-two .inner-div {
  min-height: 75vh;
  background-color: var(--bg-grey);
  border: 3px solid transparent;
}

.section-two .order {
  display: flex;
  margin-top: 70px;
}

.section-two .why-choose {
  flex: 0 0 50%;
}

.section-two .why-choose h1 {
  font-size: 45px;
  font-weight: 300;
}

.section-two .why-choose h1 span {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 12.5px;
  opacity: 0.9;
  color: var(--text-grey-dark-extra);
}

.section-two .lorem {
  flex: 0 0 50%;
  color: var(--text-grey-dark);
  margin: auto;
  padding: 0 75px;
  font-weight: 500;
  opacity: 0.9;
}

.section-two .card-row {
  padding: 0 15px 0 15px;
  margin-top: -190px;
  margin-bottom: 150px;
  border: none;
}

.section-two .sqr-1 {
  width: 350px;
  height: 330px;
  z-index: 20;
  background-color: var(--bg-white);
  position: relative;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in;
}

.section-two .sqr-1:hover {
  box-shadow: none;
}

.section-two .sqr-1 .circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 15px solid var(--dark-blue);
  position: absolute;
  top: 40px;
  left: 40px;
}

.section-two .sqr-1 .inner-circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 11.5px solid var(--light-blue);
  position: absolute;
  top: 52.5px;
  left: 52.5px;
}

.section-two .sqr-2 {
  width: 350px;
  height: 330px;
  z-index: 20;
  background-color: var(--bg-white);
  position: relative;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in;
}

.section-two .sqr-2:hover {
  box-shadow: none;
}

.section-two .sqr-2 .circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 15px solid var(--dark-blue);
  position: absolute;
  top: 40px;
  left: 40px;
}

.section-two .sqr-2 .inner-circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 11.5px solid var(--light-blue);
  position: absolute;
  top: 52.5px;
  left: 52.5px;
}

.section-two .sqr-3 {
  width: 350px;
  height: 330px;
  z-index: 20;
  background-color: var(--bg-white);
  position: relative;
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in;
}

.section-two .sqr-3:hover {
  box-shadow: none;
}

.section-two .sqr-3 .circle {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 15px solid var(--dark-blue);
  position: absolute;
  top: 40px;
  left: 40px;
}

.section-two .sqr-3 .inner-circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 11.5px solid var(--light-blue);
  position: absolute;
  top: 52.5px;
  left: 52.5px;
}

.section-two .card-row .sqr-text {
  position: absolute;
  bottom: 0;
  padding: 20px 40px 40px;
  border: 3px solid r;
}

.section-two .card-row .sqr-text h3 {
  font-size: 20px;
  font-weight: 600;
  padding: 20px 0 20px 0;
}

.section-two .card-row .sqr-text p {
  color: var(--text-grey);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.95;
}

/* ============================ style section three ============================     */

.section-three {
  min-height: 63vh;
  background: url(div-2.png);
  color: var(--text-white);
}

.section-three .inner-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}

.section-three .inner-content .text-1 {
  flex: 0 0 50%;
}

.section-three .inner-content .text-1 h5 {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 12px;
  opacity: 0.9;
}

.section-three .inner-content .text-1 h1 {
  font-weight: 300;
  font-size: 45px;
  opacity: 0.9;
}

.section-three .inner-content .text-2 {
  flex: 0 0 50%;
  padding: 40px 60px;
  font-size: 16px;
  opacity: 0.9;
}

/* ============================ style section four ============================     */

.section-four {
  min-height: 65vh;
  background: var(--bg-grey);
  border: 5px solid transparent;
}

.section-four .row-cards {
  margin-top: 90px;
}

.section-four .row-cards .sqr-card {
  height: 275px;
  width: 365px;
  display: flex;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow);
  transition: all 0.3s ease-in;
}

.section-four .row-cards .sqr-card:hover {
  box-shadow: none;
}

.section-four .row-cards .sqr-card .inner-text {
  flex: 0 0 55%;
  padding: 35px;
}

.section-four .row-cards .sqr-card .inner-text h1 {
  font-size: 20px;
  padding-top: 25px;
}

.section-four .row-cards .sqr-card .inner-text p {
  font-size: 16px;
  color: var(--text-grey);
  margin-top: 10px;
}

.section-four .row-cards .sqr-card .inner-img {
  flex: 0 0 45%;
}

.section-four .row-cards .sqr-card .inner-img img {
  height: 100%;
  width: 150%;
}

/* ============================ style section five ============================     */

.section-five {
  border: 3px solid transparent;
  min-height: 65vh;
  background: var(--bg-white);
}

.section-five .footer-column {
  margin: 100px 0 0 0;
}

.section-five .footer-column .about {
  flex: 0 0 30%;
}

.section-five .footer-column .about .logo .circle {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--dark-blue);
}

.section-five .footer-column .about .logo h2 {
  color: var(--dark-blue);
  padding-left: 10px;
}

.section-five .footer-column .about p {
  font-size: 13px;
  padding: 30px 100px 0 0;
  line-height: 2;
  color: var(--text-grey-dark);
  opacity: 0.8;
}

.section-five .footer-column .categories {
  flex: 0 0 25%;
  padding-right: 150px;
}

.section-five .footer-column .categories h5 {
  font-size: 13.5px;
  color: var(--text-grey-dark);
  font-weight: 600;
  opacity: 0.8;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--text-grey);
  padding-bottom: 10px;
}

.section-five .footer-column .categories ul li a {
  color: var(--text-black);
  font-size: 13.8px;
  font-weight: 700;
  opacity: 0.9;
  padding: 10px 0;
  display: block;
}

.section-five .footer-column .categories ul li:first-child a {
  margin-top: 20px;
}

.section-five .footer-column .institutes {
  flex: 0 0 25%;
  padding-right: 150px;
}

.section-five .footer-column .institutes h5 {
  font-size: 13.5px;
  color: var(--text-grey-dark);
  font-weight: 600;
  opacity: 0.8;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--text-grey);
  padding-bottom: 10px;
}

.section-five .footer-column .institutes ul li a {
  color: var(--text-black);
  font-size: 13.8px;
  font-weight: 700;
  opacity: 0.9;
  padding: 10px 0;
  display: block;
}

.section-five .footer-column .institutes ul li:first-child a {
  margin-top: 20px;
}

.section-five .footer-column .social-links {
  flex: 0 0 20%;
  padding-left: 60px;
}

.section-five .footer-column .social-links h5 {
  font-size: 13.5px;
  color: var(--text-grey-dark);
  font-weight: 600;
  opacity: 0.8;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--text-grey);
  padding-bottom: 10px;
  text-align: right;
}

.section-five .footer-column .social-links .icon-row {
  display: flex;
  margin-top: 20px;
}

.section-five .social-links .icon-row .icon-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in;
}

.section-five .social-links .icon-row .icon-circle:hover {
  box-shadow: none;
  cursor: pointer;
}

.section-five .social-links .icon-row .icon-circle .fab {
  color: var(--bg-white);
}

/* ============================ style footer ============================     */

.footer-section {
  border: 3px solid transparent;
  min-height: 26.5vh;
  background-color: var(--footer-grey);
}

.footer-section .footer {
  margin-top: 60px;
}

.footer-section .terms {
  flex: 0 0 30%;
  padding-right: 20px;
}

.footer-section .terms .top h5 {
  color: var(--text-black);
  font-size: 13px;
  font-weight: 700;
  opacity: 0.9;
}

.footer-section .terms .bottom {
  margin-top: 20px;
  font-size: 15px;
  color: var(--text-grey-dark);
  opacity: 0.8;
  font-weight: 500;
}

.footer-section .trademark {
  flex: 0 0 30%;
  padding-right: 30px;
}

.footer-section .trademark h5 {
  text-align: right;
  margin-top: 40px;
  font-size: 13px;
  color: var(--text-grey-dark);
  opacity: 0.8;
  font-weight: 500;
}
